<!--
 * @Author: zephyr
 * @Date: 2020-12-16 21:38:24
 * @LastEditors: zephyr
 * @LastEditTime: 2020-12-17 15:58:30
 * @FilePath: \HelloWorlde:\IR_codes\mysite\templates\index.html
-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>开始搜索</title>
</head>

<body>


<br><br />
<br><br />
<br><br />
<br><br />
<br><br />
<br><br />
<br><br />
<br><br />

<form action="/result/" method="post" target="_blank" >
    <img src="https://s1.ax1x.com/2020/10/28/B38GdS.png" alt="logo"  style="position:absolute;top:20%;left:46%;" >
    <table style="width:34%" align="center">
        <tbody>
        <tr style="border:0px">
            <td>
                <input class="form-control" type="text" style="width:550px;font-size:25px;height:40px" name="keyword" size="30">
            </td>
            <td>
                <input class="form-control btn btn-primary" type="Submit" style="border-radius:10px;border:1px solid #4169E1;padding:9px;width:80px;font-size:23px;background-color:#4169E1;color:white" value="搜索">
            </td>
        </tr>
        </tbody>
    </table>
</form>

<p style="font-size:15px;position:absolute;bottom:0;width:96%;height:15px;" align="center" >© 2020 OURS | ABOUT</p>

</body>
</html>